<% if @post_comment.errors.any? %>
 <div id="error_explanation">
  <h4 class="text-danger"><%= @post_comment.errors.count %>errors prohibited this obj from being saved:</h4>
  <ul>
    <% @post_comment.errors.full_messages.each do |message| %>
      <li class="text-danger"><%= message %></li>
    <% end %>
  </ul>
 </div>
<% end %>

<div class="container px-5 px-sm-0">
  <div class="row">
    <%= render 'books/book',book:@new_book,user:@user %>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>
              <%= link_to user_path(@book.user) do %>
              <%= attachment_image_tag @book.user,:profile_image, :fill,40,40, format:"jpeg", fallback:"no_image.jpg" %><br><%= @book.user.name %>
              <% end %>
            </td>
            <td><%= link_to @book.title,book_path(@book) %></td>
            <td><%= @book.body %></td>
            <% if @user.id ==  current_user.id %>
            <td><%= link_to "Edit",edit_book_path(@book),class:"btn btn-sm btn-success" %></td>
            <td><%= link_to "Destroy",book_path(@book),method: :delete,class:"btn btn-sm btn-danger" %></td>
            <% end %>
            <td>
              <div id="favorites_buttons_<%= @book.id %>"><%= render partial: 'favorites/button', locals: {book: @book} %></div>
            </td>
            <td><p>コメント件数:<%= @book.post_comments.count %></p></td>
          </tr>
        </tbody>
      </table>
      <table class="table">
        <h2><p>Comment</p></h2>
        <tbody>
          <% @book.post_comments.each do |post_comment| %>
          <tr>
            <td>
              <%= link_to user_path(post_comment.user_id) do %>
              <%= attachment_image_tag post_comment.user, :profile_image, :fill, 40, 40, format:"jpeg", fallback:"no_image.jpg" %><br><%= post_comment.user.name %>
              <% end %>
            </td>
            <td><%= post_comment.comment %></td>
            <% if post_comment.user == current_user %>
              <td><%= link_to "Destroy",book_post_comment_path(post_comment.book, post_comment),method: :delete,class:"btn btn-danger" %></td>
            <% end %>
          </tr>
          <% end %>
        </tbody>
      </table>
      <h2><p>New Comment</p></h2>
      <%= form_with(model:[@book,@post_comment],local: true) do |f| %>
        <%= f.text_area :comment, size:"60x3" %>
        <br><%= f.submit "送信",class:"btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>
